page-profile {
    .product {
        height: 100px;
        margin: auto;
        padding: 0px;
        width: auto;
        overflow: hidden;
        position: relative;
        margin-top: 20px;
    }
    .user_logo {
        position: relative;
        height: 100px;
        margin: 0px;
        padding: 0px;
        width: 100px;
        border-radius: 50%;
        border: 3px solid;
        border-color: grey;
        top: -50px;
        z-index: 2;
    }
    .user_cover_div {
        z-index: 1;
        height: 100px;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
    }
    .btn_follow {
        color: #5e95ef;
        background-color: transparent;
        border-color: #5e95ef;
        border: 1px solid;
        border-radius: 7px;
        width: 93%;
        margin-bottom: 10px;
    }
    .below_pic {
        margin-top: -60px;
    }
    .toolbar-background {
        background-image: $background-image;
    }
}